<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GitSort</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         
            <input class="form-control mr-sm-2" style="width:200px;" #myInput (keyup) = newEvent(myInput.value) type="search" placeholder="Search" aria-label="Search">
            <button (click) = "routeToSearch()">Search</button>
          
        </div>

        <div style="margin-right: 20px; ">
                <button class="btn btn-default" type="button" (click) = "routeToFavourites()">
                    <strong>Favourites</strong>
                </button>
                <button class="btn btn-default" type="button" (click) = "routeToCreateRepo()">
                  <strong>+</strong>
                </button>
                
        </div>
</nav>
<router-outlet></router-outlet>