<h3 style="text-align: center; padding-top: 20px;"><strong>Repositories</strong></h3>
<hr>
<div class="container row" style="padding-top: 20px;">
    <div class="list-group col-sm-3"></div>
    <div class="list-group col-sm-8" style="">
        <a (click) = "routeToGetDetails(i)" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor = 'let res of repos; index as i'>
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><strong>{{res.name}}</strong></h5>
            </div>
            <p class="mb-1"><small>{{res.desc}}</small></p>
        </a>
    </div>
</div>