<h3 style="text-align: center">Search Results</h3>
<hr>
<div class="container row" style="padding-top: 20px;">
  <div class="col-sm-3"></div>
  <div class="list-group col-sm-8" style="box-align: center">
      <h3 *ngIf = "repos.total_count == 0" style="text-align: center;"><strong>No repos Exist.....</strong></h3>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor = 'let res of repos.items'>

              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><strong>{{res.name}}</strong></h5>
                <small>{{res.updated_at}}</small>
              </div>
              <p class="mb-1"><small>{{res.description}}</small></p>
            </a>
    </div>
</div>